
.form-control.contact {
    width: 30%;
    margin-left: 35%;
}

input.btn {
    margin-top: 10px;
}


@media screen and (max-width: 767px) {
    #oops {
       width: 40vh; 
    }

    .form-control.contact {
        width: 100%;
        margin-left: 0%;
    }
}