{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Phone number and Email scraper</h1>
                <img src="{{ url_for('static', filename='LOGO.png') }}" alt="logo image">
                <div class="col">
                    <form class="form-group" action="/home" method="POST">
                        <label for="">Just enter the the website and it will scrape all the <strong>Phone Numbers</strong> and <strong>Emails</strong> that it can find.</label>    
                        <br>
                        <input class="form-control" type="url" name="url" required>
                        <br>
                        <input class="btn btn-dark" type="submit" value="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if data == True %}
        <div class="container">
            <div class='row'>
                <div class="col">
                    <table class="table table-borded">
                        <thead>
                            <tr>
                                <th>Phone Numbers</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for phone in phones %}
                            <tr>
                                <td>{{phone}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table table-borded">
                        <thead>
                            <tr>
                                <th>Emails</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for email in emails %}
                            <tr>
                                <td>{{email}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% elif data == False %}
        <div class="col-lg-12 text-center">
            <img id="oops" src="{{ url_for('static', filename='sweating.gif') }}" alt="sweating">
            <h3>No phone numbers and or emails where found </h3>
            <h3><strong>{{url}}</strong></h3>
        </div>
    {% endif %}
{% endblock content %}